.games__mini{
    position: relative;
}
.games__block{
    width: 100%;
    min-height:500px;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
    &-left{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &-right{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__name{
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        margin-bottom: 24px;
    }
    &__desc{
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 36px;
    }
    &__btn{
        width: 247px;
        height: 66px;
        border-radius: 60px;
        background: rgb(32, 32, 39);
        padding: 16px 28px 16px 28px;
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        transition: all 0.3s;
    }
}
.games__btn:hover{
    background-color: white;
    color: black;
}
.Granicy{
    padding: 48px;
}
.games__title{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    margin-top: 46px;
    margin-bottom: 72px;
}