*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}

.top{
    width: 100%;
    height: 800px;
    background-image: url("image/top-game.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    position: relative;
    max-width: 1440px;
    height: 800px;
    margin-left: calc(50% - 720px);
    margin-right: calc(50% - 720px);
    &__cap{
        position: absolute;
        width: 768px;
        height: 358px;
        left: 120px;
        top: 196px;
    }
}
.header__cap-title{
    width: 768px;
    height: 156px;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
}
.header__cap-subtitle{
    display: block;
    width: 720px;
    height: 64px;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.play-game{
    display: none;
}
.header__cap-go{
    width: 247px;
    height: 66px;
    padding: 16px 28px 16px 28px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    transition: all 0.3s;
}
.header__cap-go:hover{
    background-color: white;
    color:black;
}
.star-2{
    position: absolute;
    background: rgb(225, 255, 143);
    width: 57px;
    height: 57px;
    left: 63px;
    top: 94px;
}
.star-3{
    position: absolute;
    background: rgb(225, 255, 143);
    width: 35px;
    height: 35px;
    left: 156px;
    top: 69px;
}
.star-4{
    position: absolute;
    background: rgb(225, 255, 143);
    width: 83px;
    height: 83px;
    left: 1013px;
    bottom: 149px;
}
.star-5{
    position: absolute;
    background: rgb(225, 255, 143);
    width: 37px;
    height: 37px;
    left: 948px;
    bottom: 225px;
}
.star-6{
    display: none;
}
.star-7{
    position: absolute;
    width: 584.72px;
    height: 584.72px;
    right:-222px;
    top: 117px;
    background: rgb(32, 32, 39);
    z-index: 1;
}
.star-11{
    position: absolute;
    width: 31.34px;
    height: 31.34px;
    left: 27.97px;
    top: 770px;
    background: rgb(32, 32, 39);
    z-index: 1;
}
.star-12{
    position: absolute;
    width: 54.6px;
    height: 54.6px;
    left: 45.18px;
    top: 822px;
    background: rgb(32, 32, 39);
    z-index: 1;
}
.Big-star{
    position: absolute;
    width: 1074px;
    height: 1130.46px;
    right: -488px;
    top: -333.46px;
}
.games{
    position: relative;
    width: 1201px;
    height: 1420px;
    margin-left: calc(50% - 600.5px);
    margin-right: calc(50% - 600.5px);
    padding-top: 94px;
    z-index: 2;
    &__title{
        width: auto;
        height: 78px;
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
    }
    &__description{
        width: 788px;
        height: 96px;
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        margin-top: 24px;
    }
    &__carts{
        width: 100%;
        height: 1056px;
        margin-top: 72px;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
}
.content{
    position: relative;
    background-image: url("image/background-content.png");
    width: auto;
    height: 4974px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.block{
    width: 375px;
    height: 1056px;
    display: flex;
    flex-wrap: wrap;
}
.cart{
    width: 378px;
    height: 473px;
    border-radius: 30px;
    background-color: white;
    transition: all 0.3s;
    z-index: 2;
    &-2, &-6{
        height:  551px;
        margin-bottom: -12px;
    }
    &-3 {
        height: 512px;
        margin-top: -14px;
    }
    &-4{
        height: 512px;
        margin-bottom: -12px;
    }
    &-5{
        margin-top: -14px;
    }
    &__img{
        width: 378px;
        height: auto;
    }
    &__description{
        box-sizing: border-box;
        width: 100%;
        height: 159px;
        padding: 32px 32px 36px 32px;
    }
}
a{
    text-decoration: none;
}
.cart:hover{
    transform: scale(1.05);
}
.cart__description__game-count{
    width: 108px;
    height: 36px;
    box-sizing: border-box;
    padding: 8px 16px 10px 16px;
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.cart__description__title{
    width: 314px;
    height: 39px;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin-top: 16px;
    text-decoration: none;
}
.cart__description__mobile{
    display: none;
}
.description-big{
    height: 237px;
}

.description-medium{
    height: 198px;
}
.link-to-game{
    cursor: pointer;
}
.games__title-mobile{
    display: none;
}
.footer{
    background-color:rgb(189, 237, 53);
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__title{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}
@import "mobile_style";
@import "block-mini-games";
@import "planshet-style";