* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.top {
  width: 100%;
  height: 800px;
  background-image: url("image/top-game.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  max-width: 1440px;
  height: 800px;
  margin-left: calc(50% - 720px);
  margin-right: calc(50% - 720px);
}
.header__cap {
  position: absolute;
  width: 768px;
  height: 358px;
  left: 120px;
  top: 196px;
}

.header__cap-title {
  width: 768px;
  height: 156px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}

.header__cap-subtitle {
  display: block;
  width: 720px;
  height: 64px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.play-game {
  display: none;
}

.header__cap-go {
  width: 247px;
  height: 66px;
  padding: 16px 28px 16px 28px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.3s;
}

.header__cap-go:hover {
  background-color: white;
  color: black;
}

.star-2 {
  position: absolute;
  background: rgb(225, 255, 143);
  width: 57px;
  height: 57px;
  left: 63px;
  top: 94px;
}

.star-3 {
  position: absolute;
  background: rgb(225, 255, 143);
  width: 35px;
  height: 35px;
  left: 156px;
  top: 69px;
}

.star-4 {
  position: absolute;
  background: rgb(225, 255, 143);
  width: 83px;
  height: 83px;
  left: 1013px;
  bottom: 149px;
}

.star-5 {
  position: absolute;
  background: rgb(225, 255, 143);
  width: 37px;
  height: 37px;
  left: 948px;
  bottom: 225px;
}

.star-6 {
  display: none;
}

.star-7 {
  position: absolute;
  width: 584.72px;
  height: 584.72px;
  right: -222px;
  top: 117px;
  background: rgb(32, 32, 39);
  z-index: 1;
}

.star-11 {
  position: absolute;
  width: 31.34px;
  height: 31.34px;
  left: 27.97px;
  top: 770px;
  background: rgb(32, 32, 39);
  z-index: 1;
}

.star-12 {
  position: absolute;
  width: 54.6px;
  height: 54.6px;
  left: 45.18px;
  top: 822px;
  background: rgb(32, 32, 39);
  z-index: 1;
}

.Big-star {
  position: absolute;
  width: 1074px;
  height: 1130.46px;
  right: -488px;
  top: -333.46px;
}

.games {
  position: relative;
  width: 1201px;
  height: 1420px;
  margin-left: calc(50% - 600.5px);
  margin-right: calc(50% - 600.5px);
  padding-top: 94px;
  z-index: 2;
}
.games__title {
  width: auto;
  height: 78px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}
.games__description {
  width: 788px;
  height: 96px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
}
.games__carts {
  width: 100%;
  height: 1056px;
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.content {
  position: relative;
  background-image: url("image/background-content.png");
  width: auto;
  height: 4974px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.block {
  width: 375px;
  height: 1056px;
  display: flex;
  flex-wrap: wrap;
}

.cart {
  width: 378px;
  height: 473px;
  border-radius: 30px;
  background-color: white;
  transition: all 0.3s;
  z-index: 2;
}
.cart-2, .cart-6 {
  height: 551px;
  margin-bottom: -12px;
}
.cart-3 {
  height: 512px;
  margin-top: -14px;
}
.cart-4 {
  height: 512px;
  margin-bottom: -12px;
}
.cart-5 {
  margin-top: -14px;
}
.cart__img {
  width: 378px;
  height: auto;
}
.cart__description {
  box-sizing: border-box;
  width: 100%;
  height: 159px;
  padding: 32px 32px 36px 32px;
}

a {
  text-decoration: none;
}

.cart:hover {
  transform: scale(1.05);
}

.cart__description__game-count {
  width: 108px;
  height: 36px;
  box-sizing: border-box;
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.cart__description__title {
  width: 314px;
  height: 39px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  margin-top: 16px;
  text-decoration: none;
}

.cart__description__mobile {
  display: none;
}

.description-big {
  height: 237px;
}

.description-medium {
  height: 198px;
}

.link-to-game {
  cursor: pointer;
}

.games__title-mobile {
  display: none;
}

.footer {
  background-color: rgb(189, 237, 53);
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .Big-star {
    display: none;
  }
  .content {
    height: 3822px;
  }
  body {
    overflow-x: hidden;
  }
  .top {
    width: 100%;
    height: 700px;
  }
  .header {
    position: relative;
    width: 375px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .star-1 {
    display: none;
  }
  .star-2 {
    width: 35px;
    height: 35px;
    left: 38px;
    top: 97px;
  }
  .star-3 {
    width: 21px;
    height: 21px;
    left: 92px;
    top: 64px;
  }
  .star-4 {
    width: 39px;
    height: 41px;
    left: 304px;
    top: 580px;
  }
  .star-5 {
    width: 18px;
    height: 18px;
    left: 273px;
    top: 557px;
  }
  .star-6 {
    display: block;
    position: absolute;
    width: 223.52px;
    height: 238.57px;
    right: -112.81px;
    top: -103.61px;
  }
  .star-7 {
    z-index: 1;
  }
  .star-11 {
    z-index: 1;
  }
  .star-12 {
    z-index: 1;
  }
  .cart__description__game-count {
    display: none;
  }
  .header__cap {
    position: absolute;
    left: calc(50% - 171.5px);
    right: calc(50% - 171.5px);
    width: 343px;
    height: 371px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 147px;
  }
  .header__cap-title {
    width: 296px;
    height: 196px;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
  }
  .header__cap-subtitle {
    width: 296px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 36px;
  }
  .header__cap-go {
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
  }
  .games {
    width: 375px;
    height: auto;
    margin-left: calc(50% - 187.5px);
    margin-right: calc(50% - 187.5px);
    padding-top: 48px;
  }
  .games__description {
    display: none;
  }
  .games__carts {
    width: 375px;
    margin-bottom: 24px;
    gap: 24px;
    margin-top: 48px;
  }
  .games__title {
    display: none;
  }
  .games__title-mobile {
    display: block;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .cart {
    z-index: 2;
    width: 343px;
    height: auto;
    margin-bottom: 24px;
  }
  .cart-2, .cart-4 {
    margin-bottom: 0;
  }
  .cart__img {
    width: 343px;
    height: 284.93px;
  }
  .cart__description {
    width: 343px;
    height: auto;
    position: relative;
  }
  .play-game {
    display: block;
    width: 280px;
    height: 55px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 28px 16px 28px;
    z-index: 2;
  }
  .cart__description__mobile {
    display: block;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 28px;
  }
  a {
    text-decoration: none;
  }
  .description-big {
    height: auto;
  }
  .cart__description__title {
    width: 284.93px;
    height: auto;
    text-decoration: none;
    margin-top: 0;
  }
  .block {
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    margin-bottom: 16px;
  }
  .games__mini {
    display: none;
  }
}
.games__mini {
  position: relative;
}

.games__mini__block {
  width: 100%;
  height: 500px;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 32px;
}
.games__mini__block-left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.games__mini__block-right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.games__mini__block__name {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  margin-bottom: 24px;
}
.games__mini__block__desc {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 36px;
}
.games__mini__block__btn {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px 28px 16px 28px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.3s;
}

.games__mini__block__btn:hover {
  background-color: white;
  color: black;
}

.Granicy {
  padding: 48px;
}

.games__mini__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  margin-top: 46px;
  margin-bottom: 72px;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .Big-star {
    display: none;
  }
  .star-7 {
    display: none;
  }
  .top {
    max-width: 100vw;
  }
  .header {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  .header__cap {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: calc(50% - 384px);
    margin-right: calc(50% - 384px);
    width: 768px;
    height: 358px;
    left: 0;
  }
  .header__cap-title {
    text-align: center;
  }
  .header__cap-subtitle {
    text-align: center;
  }
  .star-4 {
    position: absolute;
    right: 63px;
    left: auto;
  }
  .star-5 {
    position: absolute;
    right: 156px;
    left: auto;
  }
  .games__title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .games__description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .games__mini__title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .games__mini__block {
    width: 768px;
    height: 435px;
    margin-left: auto;
    margin-right: auto;
  }
  .block {
    width: 792px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .games__carts {
    height: 1700px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .cart-3, .cart-5 {
    margin-top: 0;
    margin-left: -14px;
  }
  .cart-1, .cart-2 {
    margin-bottom: 2px;
  }
  #game4 {
    height: 420px;
  }
  #game6 {
    height: 440px;
  }
  .games__mini__block__name {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
  }
  #correct {
    height: 440px;
  }
  #correct1 {
    height: 435px;
  }
  .content {
    height: 5068px;
  }
}/*# sourceMappingURL=style.css.map */